/* step_1 */

.ss-step1-text1 {
  grid-area: text1;
}

.ss-step1-input1 {
  grid-area: input1;
}

.ss-step1-text2 {
  grid-area: text2;
}

.ss-step1-input2 {
  grid-area: input2;
}

.ss-step1-footer {
  grid-area: footer;
  margin: 30px auto;
  text-align: center;
}

.ss-step1-wrapper {
  display: grid;
  grid-template-areas:
    'text1'
    'input1'
    'text2'
    'input2'
    'footer';
  grid-gap: 14px;
  width:500px;
  margin: 10px auto;
}
