/* step_3 */
.ss-step3-text1 {
  grid-area: text1;
}

.ss-step3-input1 {
  grid-area: input1;
}

.ss-step3-text2 {
  grid-area: text2;
}

.ss-step3-input2 {
  grid-area: input2;
}

.ss-step3-text3 {
  grid-area: text3;
}

.ss-step3-input3 {
  grid-area: input3;
}

.ss-step3-wrapper {
  display: grid;
  grid-template-areas:
    'text1'
    'input1'
    'text2'
    'input2'
    'text3'
    'input3'
    'footer';
  grid-gap: 14px;
  width:500px;
  margin: 10px auto;
}
